html {
  touch-action: manipulation;
}

html, body {
  height: 100%;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.navbar-fixed-top .nav-buttons {
  margin-top: 7.5px;
  margin-right: 10px;
}

#side-menu {
  display: none;
}
#side-menu.in {
  display: block;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

.contents {
  position: absolute;
  top: 0;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

#home {
  text-align: center;
  color: white;
  position: relative;
  padding-right: 15px;
  background-color: #46aaf8;
}

#home .wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#home .wrapper .center {
  display: table-cell;
  vertical-align: middle;
}

#home .wrapper .center h1 {
  font-size: 60px;
}

.events {
  padding-bottom: 15px;
}

.event {
  display: table;
  table-layout: fixed;
  background-color: #fff;
  margin-top: 2px;
  padding: 5px;
}

.event-date {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.event .col {
  display: table-cell;
  padding: 5px;
}

.event .col.when {
  vertical-align: top;
  width: 20%;
  border-right: 2px solid #009900;
  text-align: right;
  padding-right: 15px;
}

.event .col.when.past {
  border-right: 2px solid #666;
}

.event .col.when .end {
  color: #999;
}

.event .col.title {
  vertical-align: top;
  width: 60%;
  padding-left: 15px;
}

.event .col.invoice {
  vertical-align: middle;
  text-align: right;
}


#matches {
  padding: 15px;
  margin-bottom: 100px;
}

.match {
  margin-bottom: 15px;
}

.match>tbody {
  border: 1px solid #666;
  font-size: 16px;
}

.match>tbody>tr {
  border-bottom: 1px solid #666;
}

.match>thead>tr>th {
  padding: 0;
}
.match>tbody>tr>td {
  padding: 5px 10px;
}

.match td.player {
}

.match td.marker {
  width: 40px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.match td.marker.exception {
  font-weight: normal;
  font-size: 12px;
}

.match td.set {
  width: 30px;
  padding: 0;
}

.match input {
  display: inline-block;
  border: none;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border: 1px dotted #9999FF;
  border-radius: 0;
  background-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.match input[type=number]::-webkit-inner-spin-button, 
.match input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.match input[readonly] {
  border: 1px solid transparent;
}

.match thead input[readonly] {
  padding-bottom: 0;
}

.match input[readonly][name=date].editing {
  border: 1px dotted #9999FF;
  padding-bottom: 5px;
}

.match tfoot input[readonly] {
  padding-top: 0;
}

.match th.date-time {
  text-align: right;
}

.match input[name=date] {
  width: 85px;
}

.match input[name=time] {
  width: 50px;
  text-align: right;
}

.match td.points {
  width: 60px;
  padding: 0;
}

.match td.set input {
  text-align: center;
  padding: 5px 0;
}

.match td.points input {
  width: 30px;
  text-align: right;
}

.match td.points .pts {
  font-size: 12px;
}

.match>tfoot>tr>th {
  padding: 0;
  font-weight: normal;
  color: #666;
}

.match>tfoot>tr>th.dropdown {
  text-align: right;
}
.match>tfoot>tr>th.dropdown>.dropdown-menu {
  max-width: 300px;
  min-width: 250px;
}
.match>tfoot>tr>th.dropdown>.dropdown-menu a.strong {
  font-weight: bold;
}
.match .dropdown-menu a.inline {
  display: inline-block;
  clear: none;
}
.match .dropdown-menu .dropdown-header {
  font-weight: bold;
}

.match .dropdown.date-time>ul.dropdown-menu {
  width: 320px;
}

.add-match {
  width: 320px;
}