<!doctype html>
<html>
  <head>
    <title>Tennis App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="favicon.png" rel="apple-touch-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="mobileoptimized" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <script src="js/3rd/jquery.min.js" type="text/javascript"></script>
    <script src="js/3rd/deparam.js" type="text/javascript"></script>
    <script src="js/3rd/jquery-color.js" type="text/javascript"></script>
    <script src="js/3rd/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/3rd/jasny-bootstrap.min.js" type="text/javascript"></script>
    <script src="js/3rd/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="js/3rd/bootstrap-select-fr_FR.min.js" type="text/javascript"></script>
    <script src="js/3rd/underscore.js" type="text/javascript"></script>
    <script src="js/3rd/backbone.js" type="text/javascript"></script>
    <script src="js/3rd/moment.js" type="text/javascript"></script>
    <script src="js/3rd/moment.fr-ca.js" type="text/javascript"></script>
    <script src="js/3rd/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <script src="js/src/lang.js" type="text/javascript"></script>
    <script src="js/src/home.js" type="text/javascript"></script>
    <script src="js/src/matches.js" type="text/javascript"></script>
    <script src="js/src/players.js" type="text/javascript"></script>
    <script src="js/src/programs.js" type="text/javascript"></script>
    <script src="js/src/events.js" type="text/javascript"></script>
    <script src="js/src/data.js" type="text/javascript"></script>
    <script src="js/src/top-menu.js" type="text/javascript"></script>
    <script src="js/src/main.js" type="text/javascript"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="css/tennis-app.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="side-menu" class="navmenu navmenu-default navmenu-fixed-left"></div>
    <div class="canvas">
      <div id="top-menu" class="navbar navbar-default navbar-fixed-top"></div>
      <div class="contents">
        <div id="home" class="content"></div>
        <div id="program" class="content program"></div>
        <div id="players" class="content players"></div>
        <div id="matches" class="content matches"></div>
      </div>
    </div>

<script id="side-menu-template" type="text/template">
  <a class="navmenu-brand" href="#"><%=_lang('appName')%></a>
  <ul class="nav navmenu-nav">
    <li><a href="#"><i class="fa fa-fw fa-home"></i> <%=_lang('home')%></a></li>
    <li><a href="#players"><i class="fa fa-fw fa-users"></i> <%=_lang('allPlayers')%></a></li>
    <% for (var i = 0; i < programs.length; i++) { %>
      <% var program = programs[i]; %>
      <% var state = {program_id: program.id}; %>
      <li><a href="#program" data-state='<%=JSON.stringify(state)%>'><i class="fa fa-fw fa-calendar-o"></i> <%=program.name%></a></li>
      <li><a href="#matches" data-state='<%=JSON.stringify(state)%>'><i class="fa fa-fw"></i> <i class="fa fa-fw fa-arrow-circle-right"></i> <%=_lang('matches')%></a></li>
      <li><a href="#players" data-state='<%=JSON.stringify(state)%>'><i class="fa fa-fw"></i> <i class="fa fa-fw fa-users"></i> <%=_lang('players')%></a></li>
    <% } %>
  </ul>
</script>

<script id="top-menu-template" type="text/template">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
    <% if (view == 'matches') { %>
      <div class="navbar-brand"><%=_lang('matches')%></div>
    <% } %>
    <% if (view == 'players') { %>
      <div class="navbar-brand"><%=_lang('players')%></div>
    <% } %>
</script>

<script id="home-template" type="text/template">
  <div class="wrapper">
    <div class="center">
      <h1><%=_lang('appName')%></h1>
      <br/>
      <p class="lead">
        <span class="account"><%=_lang('account')%>: John Doe</span>
      </p>
      <p>
        <a href="#" class="change-account"><i class="fa fa-fw fa-arrow-circle-right"></i> <%=_lang('changeAccount')%></a>
      </p>
    </div>
  </div>
</script>

<script id="program-template" type="text/template">
  <h1 class="text-center"><%=name%></h1>
</script>

<script id="player-template" type="text/template">
  <tbody>
    <tr>
      <td class="picture">
        <div class="wrapper">
          <div class="initials"><%=initials%></div>
        </div>
      </td>
      <td class="info">
        <input type="text" name="name" value="<%=name%>" placeholder="<%=_lang('name')%>" tabindex="<%=tabindex+1%>" />
        <input type="text" name="email" value="<%=email%>" placeholder="<%=_lang('email')%>" tabindex="<%=tabindex+2%>" />
        <input type="text" name="phone" value="<%=phone%>" placeholder="<%=_lang('telephone')%>" tabindex="<%=tabindex+3%>" />
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">
        <div class="matches pull-left"></div>
        <% if (editable) { %>
          <div class="dropdown more pull-right">
            <button class="btn btn-default btn-sm more dropdown-toggle" type="button" id="match-more-<%=id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%=_lang('more')%> <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right more" aria-labelledby="match-more-<%=id%>">
              <li>
                <a href="#" class="delete"><i class="fa fa-fw fa-trash"></i> <%=_lang('delete')%></a>
              </li>
            </ul>
          </div>
        <% } %>
      </th>
    </tr>
  </tfoot>
</script>

<script id="match-player-select-template" type="text/template">
  <select name="<%=key%>" class="selectpicker" data-width="120px">
    <% for (var i = 0; i < players.length; i++) { %>
      <% var player = players[i]; %>
      <option value="<%=player.id%>" <%=player.id == id ? "selected" : ""%>><%=player.name%></option>
    <% } %>
  </select>
</script>

<script id="match-template" type="text/template">
  <thead>
    <tr>
      <th colspan="2">
        <input type="text" name="location" value="<%=location%>" placeholder="<%=_lang('court')%>" tabindex="<%=tabindex%>" />
      </th>
      <th class="date-time dropdown" colspan="4">
        <input type="text" name="date" value="<%=date%>" tabindex="<%=tabindex+1%>" />
        <input type="text" name="time" value="<%=time%>" tabindex="<%=tabindex+2%>" <% if (editable) { %>data-toggle="dropdown"<% } %> />
        <% if (editable) { %>
          <ul class="dropdown-menu dropdown-menu-right time">
            <li class="dropdown-header text-center"><%=_lang('matchTime')%></li>
            <li>
              <a href="#" class="inline">00:00</a>
              <a href="#" class="inline">06:00</a>
              <a href="#" class="inline">12:00</a>
              <a href="#" class="inline">18:00</a>
            </li>
            <li>
              <a href="#" class="inline">01:00</a>
              <a href="#" class="inline">07:00</a>
              <a href="#" class="inline">13:00</a>
              <a href="#" class="inline">19:00</a>
            </li>
            <li>
              <a href="#" class="inline">02:00</a>
              <a href="#" class="inline">08:00</a>
              <a href="#" class="inline">14:00</a>
              <a href="#" class="inline">20:00</a>
            </li>
            <li>
              <a href="#" class="inline">03:00</a>
              <a href="#" class="inline">09:00</a>
              <a href="#" class="inline">15:00</a>
              <a href="#" class="inline">21:00</a>
            </li>
            <li>
              <a href="#" class="inline">04:00</a>
              <a href="#" class="inline">10:00</a>
              <a href="#" class="inline">16:00</a>
              <a href="#" class="inline">22:00</a>
            </li>
            <li>
              <a href="#" class="inline">05:00</a>
              <a href="#" class="inline">11:00</a>
              <a href="#" class="inline">17:00</a>
              <a href="#" class="inline">23:00</a>
            </li>
          </ul>
        <% } %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="user">
      <td class="player"><%=user()%></td>
      <td class="marker"></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="user_set1" value="<%=user_set1%>" tabindex="<%=tabindex+10%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="user_set2" value="<%=user_set2%>" tabindex="<%=tabindex+12%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="user_set3" value="<%=user_set3%>" tabindex="<%=tabindex+14%>" /></td>
      <td class="points">
        <input type="number" pattern="[0-9]*" inputmode="numeric" name="user_points" value="<%=user_points%>" tabindex="<%=tabindex+16%>" />
        <% if (user_points || other_points || editable) { %><span class="pts">pts</span><% } %>
      </td>
    </tr>
    <tr class="other">
      <td class="player"><%=other()%></td>
      <td class="marker"></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="other_set1" value="<%=other_set1%>" tabindex="<%=tabindex+11%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="other_set2" value="<%=other_set2%>" tabindex="<%=tabindex+13%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="other_set3" value="<%=other_set3%>" tabindex="<%=tabindex+15%>" /></td>
      <td class="points">
        <input type="number" pattern="[0-9]*" inputmode="numeric" name="other_points" value="<%=other_points%>" tabindex="<%=tabindex+17%>" />
        <% if (user_points || other_points || editable) { %><span class="pts">pts</span><% } %>
      </td>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="<%=editable ? 5 : 6 %>">
        <input type="text" name="comment" value="<%=comment%>" placeholder="<%=_lang('comment')%>" tabindex="<%=tabindex+20%>" />
      </th>
      <% if (editable) { %>
        <th colspan="1" class="dropdown more">
          <button class="btn btn-default btn-sm more dropdown-toggle" type="button" id="match-more-<%=id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%=_lang('more')%> <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right more" aria-labelledby="match-more-<%=id%>">
            <li><a href="#" class="exception incomplete" data-exception="incomplete"><%=_lang('matchIncomplete')%></a></li>
            <li><a href="#" class="exception user-forfeited" data-exception="user_won_because_forfeit"><%=user_title_inline%> <%=_lang('forfeited')%></a></li>
            <li><a href="#" class="exception other-forfeited" data-exception="other_won_because_forfeit"><%=other_title_inline%> <%=_lang('forfeited')%></a></li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#" class="exception inline pull-left clear-exception" data-exception="null"><%=_lang('clearException')%></a>
              <a href="#" class="inline pull-right delete"><i class="fa fa-fw fa-trash"></i> <%=_lang('delete')%></a>
            </li>
          </ul>
        </th>
      <% } %>
    </tr>
  </tfoot>
</script>

<script id="event-template" type="text/template">
  <div class="col when">
    <div class="start"><%=Start%></div>
    <div class="end"><%=End%></div>
  </div>
  <div class="col title"><strong><%=FirstName%> @ <%=OrganizationName%></strong><br/><%=Name%></div>
  <div class="col invoice"><a href="#" class="show-receipt btn btn-default">Facture</a></div>
</script>

  </body>
</html>