<!doctype html>
<html>
  <head>
    <title>Tennis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="favicon.png" rel="apple-touch-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="mobileoptimized" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <script src="js/3rd/jquery.min.js" type="text/javascript"></script>
    <script src="js/3rd/JsBarcode.all.js" type="text/javascript"></script>
    <script src="js/3rd/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/3rd/jasny-bootstrap.min.js" type="text/javascript"></script>
    <script src="js/3rd/underscore.js" type="text/javascript"></script>
    <script src="js/3rd/backbone.js" type="text/javascript"></script>
    <script src="js/3rd/moment.js" type="text/javascript"></script>
    <script src="js/3rd/moment.fr-ca.js" type="text/javascript"></script>
    <script src="js/3rd/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <script src="js/src/home.js" type="text/javascript"></script>
    <script src="js/src/matches.js" type="text/javascript"></script>
    <script src="js/src/events.js" type="text/javascript"></script>
    <script src="js/src/data.js" type="text/javascript"></script>
    <script src="js/src/top-menu.js" type="text/javascript"></script>
    <script src="js/src/main.js" type="text/javascript"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="css/tennis-app.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="side-menu" class="navmenu navmenu-default navmenu-fixed-left">
      <a class="navmenu-brand" href="#">Tennis App</a>
      <ul class="nav navmenu-nav">
        <li><a href="#"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="#matches"><i class="fa fa-fw fa-play-circle"></i> Matches</a></li>
        <li><a href="#events"><i class="fa fa-fw fa-calendar-check-o"></i> Events</a></li>
      </ul>
    </div>
    
    <div class="canvas">
      <div id="top-menu" class="navbar navbar-default navbar-fixed-top"></div>
      <div class="contents">
        <div id="home" class="content"></div>
        <div id="matches" class="content matches"></div>
        <div id="events" class="content events"></div>
      </div>
    </div>

<script id="top-menu-template" type="text/template">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="nav-buttons">
    <% if (view == 'matches') { %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default edit-matches"><i class="fa fa-fw <%=editMatches ? 'fa-save' : 'fa-pencil'%>"></i></button>
      </div>
    <% } %>
  </div>
</script>

<script id="home-template" type="text/template">
  <div class="wrapper">
    <div class="center">
      <h1>Tennis App</h1>
      <br/>
      <p class="lead">
        <span class="account">Account: John Doe</span>
      </p>
      <p>
        <a href="#" class="change-account"><i class="fa fa-fw fa-arrow-circle-right"></i> Change account</a>
      </p>
    </div>
  </div>
</script>

<script id="match-template" type="text/template">
  <thead>
    <tr>
      <th colspan="2">
        <input type="text" name="location" value="<%=location%>" tabindex="<%=tabindex%>" />
      </th>
      <th class="date-time" colspan="4">
        <input type="text" name="date" value="<%=date%>" tabindex="<%=tabindex+1%>" />
        <input type="text" name="time" value="<%=time%>" tabindex="<%=tabindex+2%>" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="user">
      <td class="player" title="<%=user_tooltip%>"><%=user_title%></td>
      <td class="marker"></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="user_set1" value="<%=user_set1%>" tabindex="<%=tabindex+10%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="user_set2" value="<%=user_set2%>" tabindex="<%=tabindex+12%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="user_set3" value="<%=user_set3%>" tabindex="<%=tabindex+14%>" /></td>
      <td class="points">
        <input type="number" pattern="[0-9]*" inputmode="numeric" name="user_points" value="<%=user_points%>" tabindex="<%=tabindex+16%>" />
        <% if (user_points || other_points || editable) { %><span class="pts">pts</span><% } %>
      </td>
    </tr>
    <tr class="other">
      <td class="player" title="<%=other_tooltip%>"><%=other_title%></td>
      <td class="marker"></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="other_set1" value="<%=other_set1%>" tabindex="<%=tabindex+11%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="other_set2" value="<%=other_set2%>" tabindex="<%=tabindex+13%>" /></td>
      <td class="set"><input type="number" pattern="[0-9]*" inputmode="numeric" name="other_set3" value="<%=other_set3%>" tabindex="<%=tabindex+15%>" /></td>
      <td class="points">
        <input type="number" pattern="[0-9]*" inputmode="numeric" name="other_points" value="<%=other_points%>" tabindex="<%=tabindex+17%>" />
        <% if (user_points || other_points || editable) { %><span class="pts">pts</span><% } %>
      </td>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="6">
        <input type="text" name="comment" value="<%=comment%>" tabindex="<%=tabindex+20%>" /></th>
    </tr>
  </tfoot>
</script>

<script id="event-template" type="text/template">
  <div class="col when">
    <div class="start"><%=Start%></div>
    <div class="end"><%=End%></div>
  </div>
  <div class="col title"><strong><%=FirstName%> @ <%=OrganizationName%></strong><br/><%=Name%></div>
  <div class="col invoice"><a href="#" class="show-receipt btn btn-default">Facture</a></div>
</script>

  </body>
</html>